pandas的索引index的用途
把数据存储与普通的columns列也能用于数据查询，那使用index有什么好处？

# index的用途总结：
1. 更方便的数据查询
2. 使用index可以获得性能提升
3. 自动的数据对其功能
4. 更多更强大的数据结构支持

In [1]:
import pandas as pd
df=pd.read_csv('./data/movies/movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
df.dtypes

movieId     int64
title      object
genres     object
dtype: object

1. 使用index查询数据

In [4]:
# drop=false，让索引列还保持在column
df.set_index('movieId',inplace=True,drop=False)

In [5]:
df.head()

,movieId,title,genres
movieId,,,
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,5,Father of the Bride Part II (1995),Comedy

In [6]:
df.count()

movieId    9742
title      9742
genres     9742
dtype: int64

In [7]:
# 使用index的查询方法，查询id为500的数据
df.loc[500]

movieId                      500
title      Mrs. Doubtfire (1993)
genres              Comedy|Drama
Name: 500, dtype: object

In [11]:
# 使用id列来查询
df.loc[df['movieId']==500]

         movieId                  title        genres
movieId
500          500  Mrs. Doubtfire (1993)  Comedy|Drama

2. 使用index会提升查询效率
- 如果index是唯一 的，pandas会使用hash表优化，查询性能为O(1)
- 如果index不是唯一的，但是有序，pandas会使用二分查找算法，查询性能为O(log(n))
- 如果index是完全随机的，那么每次查询都会扫描全表，查询性能为O(N)

In [12]:
# 索引是否唯一
df.index.is_unique

True

In [13]:
# 索引是否单调递增
df.index.is_monotonic_increasing

True

实验一：完全随机的顺序查询

In [15]:
# 将数据随机打散
from sklearn.utils import shuffle
# 计数，查询id==500数据性能
%timeit df.loc[500]

63.8 µs ± 827 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

实验二：将index排序后的查询（因为本数据中的索引唯一，所以排序与不排序后都是O(1)时间复杂度

In [16]:
df_sort=df.sort_index()

In [17]:
df_sort.head()

,movieId,title,genres
movieId,,,
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,5,Father of the Bride Part II (1995),Comedy

In [18]:
# 查询排序后索引为500的性能
%timeit df_sort.loc[500]

63.8 µs ± 400 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

3. 使用index能自动对其数据
包括series和df

In [20]:
s1=pd.Series([1,2,3],index=['a','b','c'])
s2=pd.Series([2,4,5],index=['b','c','d'])

In [21]:
s1+s2

a    NaN
b    4.0
c    7.0
d    NaN
dtype: float64

4. 使用index更多更强大的数据结构支持
很多强大的索引数据结构
- CategoricalIndex，基于分类数据的index，提升性能
- MultiIndex，多维索引，用于groupby多维聚合后结果等
- DatetimeIndex，时间类型索引，强大的日期和时间的方法支持