In [1]:
import pandas as pd

In [4]:
# 读取csv文件，使用默认的标题行，逗号
fpath = "./data/movies/ratings.csv"
ratings = pd.read_csv(fpath)
# 查看前几行
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# 查看数据的形状,返回（行数，列数）
ratings.shape

(100836, 4)

In [6]:
# 查看列明列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')